.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @white;
  background-color: @basic-green;
  text-transform: uppercase;
  text-decoration: none;
  border: none;

  &:hover {
    background-color: @basic-green-2;
  }

  &:active {
    color: fade(@white, 30%);
  }

  &--extra-goods {
    grid-column-start: 1;
    grid-column-end: 3;

    @media (min-width: @desktop-width) {
      grid-column-start: 3;
      grid-column-end: 4;
      margin-left: 35px;
    }
  }

  &--catalog-item {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
