.catalog {
  padding: 0;

  @media (min-width: @tablet-width) {
    padding: 123px 30px 30px 30px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 163px;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 139px 60px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
    max-width: 1220px;
    grid-gap: 141px 80px;
  }
}

.catalog__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, min-content);
  align-content: end;
  padding: 20px 20px 24px 20px;
  border-bottom: 1px solid @special-grey;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, min-content);
    background-color: @basic-grey;
    padding: 22px 36px 33px 36px;
    min-height: 375px;
    position: relative;
  }
}

.catalog__item-more {
  display: grid;
  padding: 20px 0;
  border-top: 1px solid @special-grey;
  border-bottom: 1px solid @special-grey;
  background-image: url("../img/more-products-plus.svg");
  background-size: 30px 30px;
  background-position: top 26px center;
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    border: 2px solid @basic-grey;
    padding: 20px 36px 36px 36px;
    background-size: 60px 60px;
    background-position: top 53px center;
  }
}
