.copyright__link {
  font-family: @special-font, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: @special-dark-grey;
  text-decoration: none;
  height: min-content;
  display: flex;
  justify-content: space-between;

  &:active {
    opacity: 0.3;
  }
}

.copyright__link-html-academy {
  padding-top: 7px;

  @media (min-width: @tablet-width) {
    padding-right: 24px;
  }
}

.copyright__icon {
  fill: @social-icon;
}

.copyright__link:hover .copyright__icon {
  fill: @basic-green;
}
