.copyright__link-text {
  font-family: @special-font, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: @special-dark-grey;
  text-decoration: none;
  padding-top: 7px;
}

.copyright__link-logo {
  @media (min-width: @tablet-width) {
    margin-left: 22px;
  }
}
