.extra-goods {
  padding: 20px;
}

.extra-goods__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: @black;
}

.extra-goods__item {
  padding-top: 13px;
  padding-bottom: 19px;
}
