.extra__item {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: @black;
  text-transform: uppercase;
  padding-bottom: 12px;
}

.extra__filter {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, min-content);
  }
}
