.features__container {
  padding: 20px;

  @media (min-width: @tablet-width) {
    padding: 30px;
  }

  @media (min-width: @desktop-width) {
    margin: auto;
    max-width: 1220px;
  }
}

.features__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: @black;
}

.features__item {
  font-family: @special-font, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @special-dark-grey;
  padding-bottom: 20px;
}

.features__list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 80px;
  }
}
