.features__container {
  padding: 20px;
}

.features__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: @black;
}

.features__item {
  font-family: @special-font, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @special-dark-grey;
  padding-bottom: 20px;
}
