.footer-promo {
  height: 289px;
  width: auto;
  background-image: url("../img/footer-promo-background.jpg");
  background-position: 50% 0;
  background-repeat: no-repeat;
  color: @white;
  padding: 0 20px;
  margin-top: 42px;
  background-color: @background-promo-green;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/footer-promo-background@2x.jpg");
    background-size: auto 289px;
  }

  @media (min-width: @tablet-width) {
    margin-top: 68px;
    margin-bottom: 40px;
    background-color: @basic-green;
    height: 200px;
    width: auto;
    background-image: url("../img/footer-promo-background-tablet.jpg");
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/footer-promo-background-tablet@2x.jpg");
      background-size: cover;
    }
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    min-width: 205px;
    min-height: 289px;
    height: auto;
    background-image: url("../img/footer-promo-background.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/footer-promo-background@2x.jpg");
      background-size: cover;
    }
  }
}

.footer-promo__slogan {
  font-family: @special-font, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @white;
  text-align: center;
  margin: 0;
  padding-top: 187px;
  background-image: url("../img/footer-promo-icon.svg");
  background-size: 78px 80px;
  background-position: top 58px center;
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    text-align: start;
    padding-top: 70px;
    padding-left: 402px;
    background-position: top 58px left 58px;
  }

  @media (min-width: @desktop-width) {
    text-align: center;
    padding-top: 188px;
    padding-left: 0;
    padding-right: 0;
    background-position: top 58px left 65px;
  }
}
