.footer-promo {
  height: 289px;
  width: 240px;
  background-image: url("../img/footer-promo-background.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  color: @white;
  padding: 0 20px;
  margin: 0 20px 35px 20px;

  @media (min-width: @tablet-width) {
    background-color: @basic-green;
    margin: 0 30px 75px 30px;
    height: 200px;
    width: auto;
    max-width: 668px;
  }

  @media (min-width: @desktop-width) {
    width: 205px;
    height: 289px;
    margin: 0 20px 35px 20px;
    position: absolute;
    right: 110px;
    bottom: -622px;
  }
}

.footer-promo__slogan {
  font-family: @special-font, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @white;
  text-align: center;
  margin: 0;
  padding: 145px 24px 0 24px;

  @media (min-width: @tablet-width) {
    text-align: start;
    padding-top: 70px;
    padding-left: 423px;
  }

  @media (min-width: @desktop-width) {
    text-align: center;
    padding-top: 185px;
    padding-left: 0;
    padding-right: 0;
  }
}
