.item-more__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @special-black;
  text-transform: uppercase;
  text-align: center;
  padding-top: 43px;
  margin-bottom: 0;
}

.item-more__slogan {
  font-family: @special-font, sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: @special-dark-grey;
  text-align: center;
  margin-top: 7px;
  margin-bottom: 23px;
}

.item-more__button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @special-dark-grey;
  background-color: @basic-grey;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  align-self: end;
  margin: 0 20px;
  padding: 10px 0;
  text-align: center;

  &:hover {
    background-color: @special-grey;
  }

  &:active {
    color: fade(@special-dark-grey, 30%);
  }
}
