.catalog__item {
  padding: 20px 0;
}

.item__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @special-darken-grey;
  text-transform: uppercase;
}

.item__list {
  font-family: @special-font, sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: @special-dark-grey;
}
