.item__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @special-darken-grey;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 40px;

  @media (min-width: @tablet-width) {
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 0 50px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    padding-left: 20px;
    padding-right: 17px;
  }
}

.item_title-link {
  text-decoration: none;
}

.item__list {
  font-family: @special-font, sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: @special-dark-grey;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 15px;

  @media (min-width: @tablet-width) {
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: 16px;
    padding-bottom: 24px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 3px;
    padding-right: 4px;
  }
}

.item__link {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-self: center;
  align-self: end;

  @media (min-width: @tablet-width) {
    grid-row-end: 2;
    position: absolute;
  }

  &--small {
    @media (min-width: @tablet-width) {
      top: -205px;
    }

    @media (min-width: @desktop-width) {
      top: -212px;
    }
  }

  &--big {
    @media (min-width: @tablet-width) {
      top: -233px;
    }

    @media (min-width: @desktop-width) {
      top: -242px;
    }
  }
}

.item__list-row {
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    padding-top: 6px;
    padding-bottom: 9px;
    border-bottom: 1px solid @input-dark;
  }
}

.item__image--small {
  padding-bottom: 6px;
}
