.stats__container {
  background-color: @special-light-grey;
  padding: 20px 0;

  @media (min-width: @tablet-width) {
    padding: 30px 10px;
    background: none;
  }

  @media (min-width: @desktop-width) {
    margin: auto;
    max-width: 1220px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, min-content);
    padding-top: 0;
    padding-bottom: 55px;
  }
}

.stats {
  @media (min-width: @tablet-width) {
    background: linear-gradient(to bottom, @white 57%, @special-light-grey 43%);
  }

  @media (min-width: @desktop-width) {
    background: linear-gradient(to top, @basic-grey 72%, @white 28%);
  }
}

.stats__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: @black;
  margin-top: 5px;
  margin-bottom: 35px;
  padding-left: 20px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-top: 13px;
    margin-bottom: 64px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    margin-top: 30px;
    margin-bottom: 34px;
    padding-top: 18px;
    padding-left: 0;
  }
}

.stats__description {
  font-family: @special-font, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @special-dark-grey;
  margin-bottom: 25px;
  padding-left: 20px;
  padding-right: 25px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding-right: 26px;
    margin-bottom: 41px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 0 0 25px 0;
    padding-right: 131px;
    padding-top: 95px;
    padding-left: 0;
  }
}

.stats__number {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: @black;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 22px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 10px;
  }
}

.stats__definition {
  font-family: @special-font, sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: @special-dark-grey;
  margin-left: 0;
  background-color: @special-light-grey;
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 14px;
    bottom: -5px;
    padding: 0 7px;
    background-color: @white;

    br {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    background-color: @basic-grey;
  }
}

.stats__total {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: @black;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    width: 175px;
    font-size: 20px;
    text-align: right;
    margin-top: 23px;
    margin-bottom: 35px;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-between;
    width: 325px;
    margin-top: 14px;
    margin-bottom: 0;
  }
}

.stats__data {
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    flex-direction: column;
    justify-content: start;
    padding: 0;
  }
}

.stats__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: space-between;
  margin-bottom: 13px;

  @media (min-width: @tablet-width) {
    margin-top: 11px;
  }

  @media (min-width: @desktop-width) {
    justify-content: start;
    margin-top: 25px;
    margin-bottom: 24px;
    max-width: 100%;
  }
}

.stats__item {
  display: inline-block;
  text-align: center;
  position: relative;
  border: 1px solid @input-dark;
  border-radius: 3px;
  min-width: 123px;
  height: 56px;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    min-width: 162px;
    height: 72px;
    margin-right: 39px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 40px;
  }
}
