.stats__container {
  background-color: @special-light-grey;
  padding: 20px;

  @media (min-width: @tablet-width) {
    padding: 30px;
  }

  @media (min-width: @desktop-width) {
    margin: auto;
    max-width: 1220px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, min-content);
  }
}

.stats__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: @black;

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

.stats__description {
  font-family: @special-font, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @special-dark-grey;

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

.stats__number {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: @black;
  text-transform: uppercase;
}

.stats__definition {
  font-family: @special-font, sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: @special-dark-grey;
}

.stats__total {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: @black;
  text-transform: uppercase;
}

.stats__data {
  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    flex-direction: column;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.stats__list {
  display: flex;
}
